<!DOCTYPE html>
<html>
<head>
    <title>XLR8 OFFICIAL</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>
<body>
    <div class="container">
        <!-- desktop -->
        <div id="desktop">
          {{> desktop}}
        </div>
        <!-- End Desktop -->
        <!-- Phone -->
        <div id="phone">
          {{> phone}}
        </div>
        <!-- End Phone -->
        <!-- Tablet -->
        <div id="tablet">
          {{> tablet}}
        </div>
        <!-- End Tablet -->
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="/js/mobile-detect.js"></script>
    <script src="/js/layout.js"></script>
</body>
</html>
