<div class="jumbotron wow bounceInLeft animated" data-wow-delay="0.2s">
    <h1>404</h1>
    <p class="lead">Page Not Found</p>
    <p>
        <a class="btn btn-lg btn-success" href="/" role="button">Go To Home Page</a>
    </p>
</div>