<div class="jumbotron bounceInLeft animated" id="about">
    <h1>About The Server</h1>
    <p class="lead">We are a server built primarily around
        <strong>
            <a href="https://en.wikipedia.org/wiki/ESports">eSports</a>
        </strong>.
        <br>We currently have
        <strong>
            {{ total }}
        </strong> teams.
        <br>The server is run by
        <strong>
            <a href="#owners">TheeSniper95 and Raiinbow</a>
        </strong>
        and the website and bot were developed by
        <strong>
            <a href="#dev">TheeSniper95</a>
        </strong>.
    </p>
</div>

<div class="jumbotron bounceInLeft animated">
    <h1>Server Stats</h1>
    <p class="lead">
        <strong>Total Non-Bot Members</strong>
        <br>Test
        <br>
        <br>
        <strong>Total Bots</strong>
        <br>Test</p>
</div>

<div class="jumbotron bounceInLeft animated">
    <h1>Bot Stats</h1>
    <p class="lead">
        <strong>Status</strong>
        <br>
        {{ status }}
        <br>
        <br>
        <strong>Uptime</strong>
        <br>
        {{ uptime }}
    </p>
</div>

<div class="row marketing">
    <div class="col-lg-6" id="owners">
        <h4>Server Owners:</h4>
        <ol>
            <li>TheeSniper95</li>
            <li>Raiinbow</li>
        </ol>
    </div>

    <div class="col-lg-6" id="dev">
        <h4>Bot And Website Developed By:</h4>
        <ul>
            <li>TheeSniper95</li>
        </ul>
    </div>
</div>
</div>