<div class="jumbotron bounceInLeft animated">
    <form action="/server/user/submit" method="post" class="form-inline my-2 my-lg-0">
        <input type="text" name="id" placeholder="User ID" class="form-control mr-sm-2 size">
        <button type="submit" class="btn btn-lg btn-success btn-hover">Go</button>
    </form>
</div>