<div class="jumbotron bounceInLeft animated">
    <h1>About:
        <strong>
            {{ user }}
        </strong>
    </h1>
    <h3>Highest Role</h3>
    <p class="lead">
        {{ role }}
    </p>
    <h3>Staff Status</h3>
    <p class="lead">
        {{ staff }}
    </p>
</div>